.container {
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    background-size: contain;
}


.navbar {
    position: absolute;
    bottom: 0px;
}

.navbar .button1 {
    width: 46.8px;
    height: 70.2px;
    position: absolute;
    left: 56.5px;
    /*transform: translateY(-120%);*/
    bottom: 5px;
    z-index: 2;
}

.navbar .button2 {
    width: 46.8px;
    height: 70.2px;
    position: absolute;
    right: 56.5px;
    /*transform: translateY(-120%);*/
    bottom: 5px;
    z-index: 2;

}


.navbar .begin {
    position: absolute;
    bottom: 48px;
    width: 100%;
    height: 100px;
}

.navbar .begin .link {
    margin: auto;
    width: 100px;
    height: 100px;
}